
.header{
  background-color: white;
  text-align: center;
  /* margin-top: -20px;
  padding-top: 20px; */
  height: 89px;
}
 .nav-item{
  padding-left: 100px;
}
#sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
.middle{
  width: 100%;
  text-align: center;
  position: absolute;
}
.mid-common{
  height: 200px;
}
