body{
  background-color: rgba(22, 80, 255, 0.8);
}
/* breakpoint of logo at 636px width */
@media screen and (max-width: 650px) {
  .top-logo {
    display: block;
    margin: 0 auto;
  }
}
/* breakpoint of search-bar at 540px width */
@media screen and (max-width: 540px) {
  .search-bar{
    width: 50%;
  }
  .lang-btn{
    width: 40%;
  }
}
.lang-txt{
  font-size: 0.8rem;
}
.Topmost{
  text-align: center;
}
.navitems{
    z-index:9;
   }

   #fullCarousel{
     position:absolute;
     width:100%;
     top:0;
   }
#color-yellow{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#secondNav{
    padding-left: 40px;
    padding-right: 40px;
}

#navbarDropdown{
    padding-left: 40px;
    padding-right: 40px;
}
/* .dropdown:hover > .dropdown-menu {
    display: block;
} */

.instituteMotto-l{
  float: left;
  width: 50%;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(22, 80, 255);
  color: gold;
  padding-top: 10px;
  padding-left: 15%;
}
.instituteMotto-r{
float: left;
  width: 50%;
  text-align: right;
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(22, 80, 255);
  color: gold;
  padding-top: 10px;
  padding-right: 5%;
}

@media screen and (max-width: 1000px) {
  .instituteMotto-l {
    width: 0%;
    font-size: 0%;
    background-color: white;
  }
  .instituteMotto-r {
    width: 0%;
    font-size: 0%;
    background-color: white;
  }
}

.mid{
  background-color: white;
}

.mnit-logo{
  position: absolute;
  display: block;
  width: 13%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.my-4{
  margin-top: 0 !important;
}
.my-4-h2{
    text-align: center;
    color:  rgb(22, 80, 255);
    font-weight: 600;
}
.cardbg{
    background-color: white;
    border-radius: 10px;
    /* opacity: 50%; */
}

.spanbg{
    background-color: gold;
    width: 275px;
    border-radius: 10px;
    margin: auto;
}
.pt-4 {
    padding-top: 7rem !important;
}
.pt-2{
  padding-top: 3.5rem !important;
}
.pb-2{
  padding-bottom: 3.5rem !important;
}
.pt-0{
  padding-top: 0 !important;
}
/* .mnitDaily_division{


  background-color: #00567b;
} */

#emergencynums{
  color: red;
}
#emergencyTables{
  background-color: gold;
}

#instituteMotto{
  color: gold;
  font-family: 'Poppins',sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
#EMHeader{
  color: blue;
  background-color: gold;
}
.disclaim{
  padding: 18px;
  border: 10px solid gold;
  margin: 20px;
  color: gold;
  text-size-adjust: 100px;
  border-radius: 15px;
}
.disclink{
  color: white;
}
#DisHeader{
  color: blue;
  background-color: gold;
}
#disclaimz{
  padding: 18px;
  border: 10px solid gold;
  margin: 20px;
  color: gold;
  text-size-adjust: 100px;
  border-radius: 15px;
}
.usefulcolor{
  color: gold;
}

.mid{
  background-color: white;
  background-repeat: no-repeat;
  /* background-size: 1000px; */
  /* height: 1000px; */
  /* width: 1000px; */
  /* background-size: 1920px 1500px; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
}
/* COUNTER */

.counter-section{
  margin: 10% auto;
  color: rgb(0, 0, 0);
}
.icon-box{
  border: 1px solid rgb(0, 0, 0);
  height: 100px;
  width: 100px;
  margin: 20px auto;
  transform: rotate(45deg);
}
.icon-box .fa{
  font-size: 40px;
  margin: 25px auto;
  color: #ffc800;
  transform: rotate(-45deg);
}
.counter-box p{
  font-size: 20px;
}
.counter-box .counter{
  font-size: 50px;
}

/* COUNTER ENDS */
/*footer*/

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #00567b;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgb(22, 80, 255) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.list-inline-item img{
    height: 30px;
}

#lastline a{
    color: gold;
}
.mnit-daily-heading{
  padding: 10px;
  color: rgb(22, 80, 255);
  background-color: gold;
  margin-bottom: 20px;
  width: 100%;
}

/* @media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
 } */

/* .form-search{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
  }

  @media (max-width:480px) {
    .form-search {
      width: 60%;
      margin-left:auto;
      margin-right:auto;
    }
  } */

/* @media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
 } */

 /* @media screen and (min-width: 1000px) {
    .navbar-brand {
      float: left;
      margin-right: 5px;
      margin-left: -15px;
    }
    .navbar-nav {
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
    .navbar-nav > li {
      float: left;
    }
    .navbar-nav > li > a {
      border-radius: 0;
    }
    .navbar-nav.pull-right {
      float: right;
      width: auto;
    }
    .navbar-toggle {
      position: relative;
      top: auto;
      left: auto;
      display: none;
    }
    .nav-collapse.collapse {
      display: block !important;
      height: auto !important;
      overflow: visible !important;
    }
  } */

  /* #navbarSupportedContent{
      word-break: break-all;
  } */
